.form-header {
    font-size: 28px;
}

.form-container {
    width: 500px;
    margin: 150px auto;
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
}

.form-group {
    margin-top: 20px;
}

.form-group__item-input,
.list-input__item {
    width: 100%;
    padding: 8px;
    border: 1px solid #e0dede;
    box-shadow: 2px 2px 2px #d0d0d0;
}

.form-group__item {
    margin-bottom: 15px;
}

.form-btn {
    margin-top: 32px;
}