*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
.layout {
    width: 100vw;
    min-height: 100vh;
    background-color: #f3f4f4;
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto,
        "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic",
        "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
        "Meiryo UI", "メイリオ", Meiryo,
        "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 0 16px;
}

NuxtLink {
    text-decoration: none;
    cursor: pointer;
}

.form-btn {
    width: 100%;
    border: none;
    align-self: center;
    background-color: #1ea827;
    color: #fff;
    padding: 12px 0;
}

/* フッターのレイアウト */
footer {
    margin: 50px auto 20px auto;
    text-align: center;
}

/* エラーメッセージ */
.error-message {
    margin-top: 4px;
    color: rgb(243, 80, 80);
    text-align: left;
}

/* header */
.main-title {
    font-size: 32px;
    color: #fff;
}

.auth-header {
    width: 100vw;
    padding: 18px;
    background-color: #494343;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navi {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
}

.auth-header-nav__link {
    display: inline-block;
    align-self: center;
    color: #fff;
}

.header-nav__logout-button {
    all: unset;
    color: #fff;
    background: #494343;
}