*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
.layout {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right, #f0f4f8, #d9e2ec);
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto,
        "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic",
        "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
        "Meiryo UI", "メイリオ", Meiryo,
        "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 60px;
}

.content {
    flex: 1;
    padding: 0 16px;
}

/* 共通ボタン */
NuxtLink {
    text-decoration: none;
    cursor: pointer;
}

.form-btn {
    width: 100%;
    font-weight: bold;
    border: none;
    align-self: center;
    background-color: #4f5eb3;
    border-radius: 3px;
    color: #fff;
    padding: 12px 0;
    transition: background-color 0.3s;
}

.form-btn:hover {
    background-color: #7285ef;
}

/* エラーメッセージ */
.error-message {
    margin-top: 4px;
    color: rgb(243, 80, 80);
    text-align: left;
}

/* header */
.main-title {
    font-size: 32px;
    color: #fff;
}

.header {
    width: 100vw;
    padding: 18px 24px;
    background-color: #494343;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 10;
}

.navi {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
}

.header-nav__link {
    display: inline-block;
    align-self: center;
    color: #fff;
    font-size: 1.1em;
}

.header-nav__logout-button {
    all: unset;
    color: #fff;
    background: #494343;
    cursor: pointer;
}

/* フッターのレイアウト */
.footer {
    margin: 50px auto 20px auto;
    text-align: center;
}

/* エラーページ */
.error-wrap {
    width: 50%;
    margin: 128px auto;
    text-align: center;
    padding: 20px;
}

.error-status {
    font-size: 100px;
}

.error-title {
    font-size: 30px;
    line-height: 2em;
}

.error-text {
    margin-top: 28px;
    line-height: 1.4em;
}

.back-home__btn {
    display: block;
    margin-top: 64px;
}