/* 収入支出トグルボタン */
.center-wrapper {
    margin: 2em;
    text-align: center;
}

.income-expense-toggle {
    display: inline-flex;
    border: 2px solid #3882aa;
    border-radius: 999px;
    overflow: hidden;
    font-size: 1.1em;
    width: 200px;
}

.income-expense-toggle button {
    flex: 1;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: #3882aa;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.income-expense-toggle button.active {
    background-color: #3882aa;
    color: white;
}

/* スライド */
.slide-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

/* .step にも transition を指定してアニメーション補助 */
.step {
    transition: transform 0.3s ease;
}

/* step の値（1 or 2）で表示されるコンテンツが切り替わる */
/* name="slide" により、CSS クラス .slide-enter-*,
.slide-leave-* が適用される。 */
.slide-enter-active,
.slide-leave-active {
    /* 両者に共通の transition で滑らかに遷移 */
    transition: all 0.3s ease;
}

/* 新しく表示される要素は右（100%）からスライドイン */
.slide-enter-from {
    transform: translateX(100%);
}

/* 今の要素は左（-100%）にスライドアウト */
.slide-leave-to {
    transform: translateX(-100%);
}

.slide-title,
.step2 {
    text-align: center;
}

/* カテゴリーボタン */
.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 32px;
}

.category-button {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 80px;
    cursor: pointer;
}

.icon-circle {
    transition: 0.3s;
}

.icon-circle:hover {
    background-color: #f4f27c;
}

.icon-circle,
.selected-icon-circle {
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.icon-circle {
    width: 60px;
    height: 60px;
}

.selected-icon-circle {
    width: 50px;
    height: 50px;
}

.icon-img {
    width: 30px;
    height: 30px;
}

.category-name {
    font-size: 14px;
    text-align: center;
}

.selected-category {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.list-input__group {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.back-button {
    width: 100px;
    margin: 20px auto 0;
}