/* 収入支出トグルボタン */
.center-wrapper {
    margin: 2em;
    text-align: center;
}

.income-expense-toggle {
    display: inline-flex;
    border: 2px solid #4CAF50;
    border-radius: 999px;
    overflow: hidden;
    font-size: 16px;
    width: 200px;
}

.income-expense-toggle button {
    flex: 1;
    padding: 0.5rem 1rem;
    background-color: white;
    border: none;
    cursor: pointer;
    color: #4CAF50;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.income-expense-toggle button.active {
    background-color: #4CAF50;
    color: white;
}

/* スライド */
.slide-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.step {
    transition: transform 0.3s ease;
}

.slide-enter-active,
.slide-leave-active {
    transition: all 0.3s ease;
}

.slide-enter-from {
    transform: translateX(100%);
}

.slide-leave-to {
    transform: translateX(-100%);
}

.slide-title {
    text-align: center;
}

/* カテゴリーボタン */
.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 32px;
}

.category-button {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 80px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button:hover {
    background-color: #e5e5e5;
}

.icon-circle,
.selected-icon-circle {
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.icon-circle {
    width: 60px;
    height: 60px;
}

.selected-icon-circle {
    width: 50px;
    height: 50px;
}

.icon-img {
    width: 30px;
    height: 30px;
}

.category-name {
    font-size: 14px;
    text-align: center;
}

.step2 {
    text-align: center;
}

.selected-category {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.list-input__group {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.back-button {
    width: 100px;
    margin: 20px auto 0;
}